<div class="details">
  <%= address.first_name+' '+address.last_name %><br />
  <%= address.address %><br />
  <%= address.city %> <%= address.zip_code %><br />
  <%= address.country.name %><br />
  Phone: <%= address.phone %>
</div>
