<div class="checkout clearfix">
    <%= render 'steps' %>
    <h1>Checkout</h1>
    <%= form_tag(wizard_path, :method => 'put') do %>
    <div class="row">
        <div class="col-md-4">
            <h2>BILLING ADDRESS</h2>
            <%= render 'shared/errors', area: 'billing_address' %>
            <%= render 'shared/addr_form', type: 'billing', address: @billing_address %>
        </div>
        <div class="col-md-4">
            <h2>SHIPPING ADDRESS</h2>
            <div id="shipping_address">
                <%= render 'shared/errors', area: 'shipping_address' %>
                <%= render 'shared/addr_form', type: 'shipping', address: @shipping_address %>
            </div>
            <div class="checkbox">
                <label><%= check_box_tag('use_billing_address', 1, (!@order.billing_address_id.nil? && @order.billing_address_id==@order.shipping_address_id)) %> Use billing address</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <h2>ORDER SUMMARY</h2>
                <div class="summary-price">
                    <%= number_to_currency(@order.total_price) %><br /><%= number_to_currency(@order.total_price) %>
                </div>
                <div class="summary-title">
                    <nobr>ITEMS TOTAL:</nobr><br /><nobr>ORDER TOTAL:</nobr>
                </div>
            </div>
        </div>
    </div>
    <div>
        <%= button_tag('SAVE AND CONTINUE', :class => 'btn btn-default', :type => 'submit', :name => 'address') %>
        <%- unless @order.billing_address_id.nil? || @order.shipping_address_id.nil? %>
            <%= link_to('CONTINUE', next_wizard_path, {:class => 'btn btn-default checkout'}) %>
        <%- end %>
    </div>
    <% end %>
</div>
