<div class="checkout clearfix">
    <%= render 'steps' %>
    <h1>Checkout</h1>
    <%= form_tag(wizard_path, :method => 'put') do %>
    <div class="row">
        <div class="col-md-4">
            <h2>CARD DETAILS</h2>
            <%= render 'shared/errors', area: 'credit_card' %>
            <div class="form-group">
                <%= text_field_tag('credit_card[number]', @credit_card.number, :class => 'form-control', :placeholder => 'Card Number') %>
            </div>
            <div class="form-group">
                Expiration date:
                <div class="month-year">
                    <div class="input-group">
                        <div class="input-group-addon">Month</div>
                        <%= select_tag('credit_card[expiration_month]', options_for_select(@credit_card.month_list, @credit_card.expiration_month), :class => 'form-control month')%>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">Year</div>
                        <%= select_tag('credit_card[expiration_year]', options_for_select(@credit_card.year_list, @credit_card.expiration_year), :class => 'form-control year')%>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group card-code">
                    <div class="input-group-addon">Card code:</div>
                    <%= password_field_tag('credit_card[code]', @credit_card.code, :class => 'form-control') %>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <h2>ORDER SUMMARY</h2>
                <div class="summary-price">
                    $<%= @order.total_price %><br />$<%= @order.shipping_cost %><br />$<%= (@order.total_price+@order.shipping_cost) %>
                </div>
                <div class="summary-title">
                    <nobr>ITEMS TOTAL:</nobr><br />
                    <nobr>SHIPPING:</nobr><br />
                    <nobr>ORDER TOTAL:</nobr>
                </div>
            </div>
        </div>
    </div>
    <div>
        <%= button_tag('SAVE AND CONTINUE', :class => 'btn btn-default', :type => 'submit', :name => 'payment') %>
        <%- unless @order.credit_card_id.nil? %>
            <%= link_to('CONTINUE', next_wizard_path, {:class => 'btn btn-default checkout'}) %>
        <%- end %>
    </div>
    <% end %>
</div>
