<div class="checkout clearfix">
    <%= render 'steps' %>
    <h1>Checkout</h1>
    <%= form_tag(wizard_path, :method => 'put') do %>
    <div class="row">
        <div class="col-md-4">
            <h2>SHIPPING METHOD</h2>
            <%- if @shipping_methods.blank? %>
                There are no shipping methods active.
            <%- else %>
                <%= render 'shared/errors', area: 'shipping_method' %>
                <%= hidden_field_tag('shipping_cost', @shipping_method.cost) %>
                <% @shipping_methods.each do |shipping| %>
                <div class="radio">
                    <label>
                        <%= hidden_field_tag("shipping_method_id_#{shipping.id}", shipping.cost) %>
                        <%= radio_button_tag('shipping_method_id', shipping.id, shipping.id==@shipping_method.id) %>
                        <%= shipping.name %> + $<%= shipping.cost %>
                    </label>
                </div>
                <%- end %>
            <%- end %>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="pull-right">
                <h2>ORDER SUMMARY</h2>
                <div class="summary-price">
                    $<span id="checkout_items_total"><%= @order.total_price %></span><br />
                    $<span id="checkout_shipping"><%= @shipping_method.cost %></span><br />
                    $<span id="checkout_order_total"><%= (@order.total_price+@shipping_method.cost) %></span>
                </div>
                <div class="summary-title">
                    <nobr>ITEMS TOTAL:</nobr><br />
                    <nobr>SHIPPING:</nobr><br />
                    <nobr>ORDER TOTAL:</nobr>
                </div>
            </div>
        </div>
    </div>
    <div>
        <%= button_tag('SAVE AND CONTINUE', :class => 'btn btn-default', :type => 'submit', :name => 'shipping') %>
        <%- unless @order.shipping_method_id.nil? %>
            <%= link_to('CONTINUE', next_wizard_path, {:class => 'btn btn-default checkout'}) %>
        <%- end %>
    </div>
    <% end %>
</div>
