<%= hidden_field_tag(:type, type) %>
<div class="form-group">
    <%= text_field_tag(type+'_address[first_name]', address.first_name, :class => 'form-control', :placeholder => 'First name') %>
</div>
<div class="form-group">
    <%= text_field_tag(type+'_address[last_name]', address.last_name, :class => 'form-control', :placeholder => 'Last name') %>
</div>
<div class="form-group">
    <%= text_field_tag(type+'_address[address]', address.address, :class => 'form-control', :placeholder => 'Street address') %>
</div>
<div class="form-group">
    <%= text_field_tag(type+'_address[city]', address.city, :class => 'form-control', :placeholder => 'City') %>
</div>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon">Country</div>
        <%= select_tag(type+'_address[country_id]', options_for_select(countries, address.country_id), :class => 'form-control')%>
    </div>
</div>
<div class="form-group">
    <%= text_field_tag(type+'_address[zip_code]', address.zip_code, :class => 'form-control', :placeholder => 'Zip code') %>
</div>
<div class="form-group">
    <%= text_field_tag(type+'_address[phone]', address.phone, :class => 'form-control', :placeholder => 'Phone number') %>
</div>
