<table class="table table-condensed">
    <thead>
        <tr>
            <th colspan="2">BOOK</th>
            <th>PRICE</th>
            <th>QTY</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
    <%- order_items.each do |item|%>
    <tr>
        <td><%= link_to(image_tag(item.book.image.thumb, :alt => item.book.title), book_path(item.book)) %></td>
        <td>
            <div><%= item.book.title %></div>
            <p><%= item.book.short_description %></p>
        </td>
        <td class="price">$<%= item.price %></td>
        <td class="quantity"><%= item.quantity%></td>
        <td class="price">$<%= number_with_precision(item.price*item.quantity, precision: 2) %></td>
    </tr>
    <%- end %>
    </tbody>
</table>
