<div class="settings clearfix">
    <h1>Settings</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>BILLING ADDRESS</h2>
            <%= form_tag(customer_path, :method => 'put') do %>
                <%= render 'errors', area: 'billing_address' %>
                <%= render 'address/form', type: 'billing', address: @billing_address %>
                <%= submit_tag('SAVE', :class => 'btn btn-default') %>
            <% end %>
        </div>
        <div class="col-md-6">
            <h2>SHIPPING ADDRESS</h2>
            <%= form_tag(customer_path, :method => 'put') do %>
                <%= render 'errors', area: 'shipping_address' %>
                <%= render 'address/form', type: 'shipping', address: @shipping_address %>
                <%= submit_tag('SAVE', :class => 'btn btn-default') %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>E-MAIL</h2>
            <%= form_tag(customer_path, :method => 'put') do %>
                <%= render 'errors', area: 'email' %>
                <div class="form-group">
                    <%= email_field_tag('user[email]', @customer.email, :class => 'form-control', :placeholder => 'Enter email')%>
                </div>
                <%= submit_tag('SAVE', :class => 'btn btn-default') %>
            <% end %>
        </div>
        <div class="col-md-6">
            <h2>PASSWORD</h2>
            <%= form_tag(customer_path, :method => 'put', :autocomplete => 'off') do %>
                <%= render 'errors', area: 'password' %>
                <div class="form-group">
                    <%= label_tag('user[current_password]', 'Current password')%>
                    <%= password_field_tag('user[current_password]', '', :class => 'form-control', :placeholder => 'Type current password') %>
                </div>
                <div class="form-group">
                    <%= label_tag('user[password]', 'New password')%>
                    <%= password_field_tag('user[password]', '', :class => 'form-control', :placeholder => 'Type new password') %>
                </div>
                <div class="form-group">
                    <%= label_tag('user[password_confirmation]', 'New password confirmation')%>
                    <%= password_field_tag('user[password_confirmation]', '', :class => 'form-control', :placeholder => 'Type new password confirmation') %>
                </div>
                <%= submit_tag('SAVE', :class => 'btn btn-default') %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>REMOVE ACCOUNT</h2>
            <%= form_tag(customer_path, :method => 'delete', :class => 'form-inline') do %>
                <div class="alert_message">You must confirm that you understand the consequences of your action!</div>
                <%= submit_tag('REMOVE ACCOUNT', :class => 'btn btn-default', :id => 'remove_account') %>
                <div class="checkbox">
                    <label><%= check_box_tag('remove_account_confirm') %> I understand that all data will be lost</label>
                </div>
            <% end %>
        </div>
    </div>
</div>
