<div class="orders clearfix">
    <h1>Orders</h1>
    <h2>In progress</h2>
    <%- if @order_items.length > 0 %>
    <div class="order">
        <%= render 'order' %>
        <div class="clearfix">
            <div class="subtotal pull-right">SUBTOTAL: &nbsp; <strong>$<%= @subtotal %></strong></div>
            <%= link_to 'GO TO CART', cart_path, class: 'btn btn-default' %>
        </div>
    </div>
    <%- else %>
      <p>Order is empty&hellip; <%= link_to 'Get started shopping!', shop_path %></p>
    <%- end %>
    <div>&nbsp;</div>

    <%- previous_state = '' %>
    <%- @orders.each do |order| %>
      <%- if previous_state != order.state %>
        <%- if previous_state != '' %>
    </tbody>
    </table>
        <%- end %>
    <h2><%= order_status(order.state).upcase %></h2>
    <table class="table table-condensed no-borders">
      <thead>
        <tr>
          <th width="40%">NUMBER</th>
          <th width="30%">COMPLETED&nbsp;AT</th>
          <th width="20%">TOTAL</th>
          <th width="10%">&nbsp;</th>
        </tr>
      </thead>
    <tbody>
      <%- end %>
      <tr>
        <td>R<%= order.number %></td>
        <td><%= date_format(order.completed_at) %></td>
        <td>$<%= order.total_price %></td>
        <td><%= link_to 'View', order_path(order) %></td>
      </tr>
    <%- previous_state = order.state %>
    <%- end %>
    </tbody>
    </table>
</div>
