<div class="clearfix">
    <div class="order-back"> <%= link_to '<< Back to orders', orders_path %></div>
    <h1 class="pull-left">Order R<%= @order.number %></h1>
    <div class="order-status"> &nbsp; <%= order_status(@order.state) %></div>
</div>
<div class="order clearfix">
<%- if @order_items.length > 0 %>
    <%= render 'order' %>
    <div class="clearfix">
        <div class="pull-right">
            <div class="subtotal clearfix">
                <div class="pull-right"><strong>$<%= @subtotal %></strong><br /><strong>$<%= @shipping %></strong></div>
                <div class="pull-right">SUBTOTAL: &nbsp; <br />SHIPPING: &nbsp; </div>
            </div>
        </div>
    </div>
    <div class="clearfix total">
        <div class="pull-right subtotal">
            ORDER TOTAL: &nbsp; <strong>$<%= @order_total %></strong>
        </div>
    </div>
<%- else %>
    <p>Order is empty&hellip;</p>
<%- end %>
</div>
