<div class="row">
<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
  <!-- Carousel indicators -->
  <% if @books.length > 1 %>
  <ol class="carousel-indicators">
    <% @books.each_with_index do |book, index| %>
      <li data-target="#myCarousel" data-slide-to="<%= index %>"<%= ' class="active"'.html_safe if index == 0 %>></li>
    <% end %>
  </ol>
  <% end %>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% @books.each_with_index do |book, index| %>
    <div class="<%= 'active ' if index == 0 %>item">
      <div class="carousel-caption">
        <div class="clearfix">
          <h3 class="pull-left"><%= book.title %></h3>
          <p>by
            <%- book.authors.each_with_index do |author, index| %>
              <%= (index > 0 ? ', ': '') %>
              <%= link_to author.name, author_path(author) %>
            <%- end %>
          </p>
        </div>
        <div class="clearfix">
          <img src="<%= book.image.carousel %>" alt="<%= book.title %>" class="pull-left img-thumbnail" />
          <p><%= book.short_description %></p>
          <form class="form-inline" method="post">
            <span class="price">$ <%= book.price %></span>
            <input type="number" class="form-control quantity" name="quantity" min="1" max="20" value="1" />
            <input class="btn btn-default" type="submit" value="Add To Cart">
          </form>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<p class="lead text-center">Welcome to our amazing Bookstore! Choose anything you wish, we'll ship it anywhere!</p>
</div>