<div class="row">
<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
  <!-- Carousel indicators -->
  <% if @books.length > 1 %>
  <ol class="carousel-indicators">
    <% @books.each_with_index do |book, index| %>
      <li data-target="#myCarousel" data-slide-to="<%= index %>"<%= ' class="active"'.html_safe if index == 0 %>></li>
    <% end %>
  </ol>
  <% end %>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% @books.each_with_index do |book, index| %>
    <div class="<%= 'active ' if index == 0 %>item">
      <div class="carousel-caption">
        <div class="clearfix">
          <h3 class="pull-left"><%= book.title %></h3>
          <p>by <%= book.authors.map{|author| author.name }.join(', ') %></p>
        </div>
        <div class="clearfix">
          <%= link_to(image_tag(book.image.carousel, :alt => book.title, :class => 'pull-left img-thumbnail'), book_path(book)) %>
          <p><%= book.short_description %></p>
          <%= form_tag(cart_path, :method => 'post', :class => 'form-inline') do %>
            <%= hidden_field_tag(:book_id, book.id) %>
            <span class="price">$ <%= book.price %></span>
            <%= number_field_tag(:quantity, 1, {:min => 1, :max => 20, :class => 'form-control quantity'}) %>
            <%= submit_tag('Add To Cart', :class => 'btn btn-default') %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<p class="lead text-center"><%= t('welcome') %></p>
</div>