<h1><%= @book.title %></h1>
<div class="book clearfix">
    <%= image_tag(@book.image, :alt => @book.title, :class => 'pull-left') %>
    <%= form_tag(cart_path, :method => 'post', :class => 'form-inline') do %>
      <%= hidden_field_tag(:book_id, @book.id) %>
      <div class="pull-right">
          <%= number_field_tag(:quantity, 1, {:min => 1, :max => 20, :class => 'form-control quantity'}) %>
          <%= submit_tag('Add To Cart', :class => 'btn btn-default') %>
      </div>
      <div class="price"><%= number_to_currency(@book.price) %></div>
      <p><%= @book.full_description.html_safe %></p>
    <% end %>
</div>
<div class="review-list">
    <div class="clearfix">
        <h2 class="pull-left">Reviews</h2>
        <br />
        <%= link_to 'Add review for this book', new_book_review_path(@book.id) %>
    </div>
    <%- unless @book.reviews.blank? %>
      <%- @book.reviews.each do |review| %>
      <div class="review">
        <div class="pull-left rating">
          <%- (Review::MIN_RATING..Review::MAX_RATING).each do |rating| %>
            <input name="star<%= review.id %>" type="radio" class="star" disabled="disabled"<%= (rating==review.rating ? ' checked="checked"':'') %>/>
          <%- end %>
        </div>
        <span class="date"><%= review.created_at.strftime('%H:%M at %B %d, %Y') %></span>
        <div class="author">by <%= mail_to(review.user.email, review.user.name) %></div>
        <p><%= review.text %></p>
      </div>
      <%- end %>
    <%- else %>
      <p>No reviews yet&hellip;</p>
    <%- end %>
</div>