<div class="checkout clearfix">
    <div class="stages">
        <%= link_to('ADDRESS', cart_checkout_path) %> &nbsp; <%= link_to('SHIPPING', cart_checkout_path(2)) %> &nbsp; <%= link_to('PAYMENT', cart_checkout_path(3)) %> &nbsp; <span>CONFIRM</span> &nbsp; COMPLETE
    </div>
    <h1>Checkout</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="edit"><%= link_to('(edit)', cart_checkout_path) %></div>
            <h2>Shipping Address</h2>
            <%= render 'address/details', address: @shipping_address %>
        </div>
        <div class="col-md-3">
            <div class="edit"><%= link_to('(edit)', cart_checkout_path) %></div>
            <h2>Billing Address</h2>
            <%= render 'address/details', address: @billing_address %>
        </div>
        <div class="col-md-3">
            <div class="edit"><%= link_to('(edit)', cart_checkout_path(2)) %></div>
            <h2>Shipping method</h2>
            <div class="details">
                <%= @order.shipping_method.name %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="edit"><%= link_to('(edit)', cart_checkout_path(3)) %></div>
            <h2>Payment information</h2>
            <div class="details">
                <%= @credit_card.display_number %><br />
                <%= @credit_card.expiration_month %>/<%= @credit_card.expiration_year %>
            </div>
        </div>
    </div>
</div>
<div class="order clearfix">
    <%= render 'orders/order' %>
    <div class="clearfix">
        <div class="pull-right">
            <div class="subtotal clearfix">
                <div class="pull-right"><strong>$<%= @order.total_price %></strong><br /><strong>$<%= @order.shipping_cost %></strong></div>
                <div class="pull-right">SUBTOTAL: &nbsp; <br />SHIPPING: &nbsp; </div>
            </div>
        </div>
    </div>
    <div class="clearfix total">
        <div class="pull-right subtotal">
            ORDER TOTAL: &nbsp; <strong>$<%= (@order.total_price+@order.shipping_cost) %></strong>
        </div>
    </div>
    <%= form_tag(cart_path, :method => 'put') do %>
        <%= submit_tag('PLACE ORDER', :class => 'btn btn-default', :name => 'confirm') %>
    <% end %>
</div>
