<div class="cart clearfix">
    <%- unless @cart_items.blank? %>
        <%= form_tag(cart_path, :method => 'put') do %>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="2">BOOK</th>
                    <th>PRICE</th>
                    <th>QTY</th>
                    <th>TOTAL</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            <%- @cart_items.each do |item| %>
            <tr>
                <td><%= link_to(image_tag(item.book.image.thumb, :alt => item.book.title), book_path(item.book)) %></td>
                <td>
                    <div><%= item.book.title %></div>
                    <p><%= item.book.short_description %></p>
                </td>
                <td class="price">$<%= item.price %></td>
                <td><%= number_field_tag('quantity['+item.id.to_s+']', item.quantity, {:min => 1, :max => 20, :class => 'form-control quantity'}) %></td>
                <td class="price">$<%= number_with_precision(item.price*item.quantity, precision: 2) %></td>
                <td class="price remove"><%= link_to('&times;'.html_safe, cart_item_path(item.id), {:method => 'delete'}) %></td>
            </tr>
            <%- end %>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="subtotal pull-right">SUBTOTAL: &nbsp; <strong>$<%= @order.total_price %></strong></div>
        </div>
        <div class="form-inline pull-right">
            <!--<input type="text" class="form-control" placeholder="Coupon code" size="12">-->
            <%= submit_tag('UPDATE', :class => 'btn btn-default') %>
            <%= link_to('CHECKOUT', cart_checkout_path, :class => 'btn btn-default') %>
        </div>
        <%= link_to('EMPTY CART', cart_path, {:class => 'btn btn-default', :method => 'delete'}) %>
        <%= link_to('CONTINUE SHOPPING', shop_path, {:class => 'btn btn-default'}) %>
        <%- end %>
    <%- else %>
        <p>Shopping cart is empty&hellip; <%= link_to 'Get started shopping!', shop_path %></p>
    <%- end %>
</div>
